doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/javascripts/external/leaflet/leaflet.css')
  body
    div.container-fluid
      div.row
        div.col-md-12
    block content
