extends layout

block content
  div.row
    div.col-md-12
      table(cellspacing=1, cellpadding=1)
        thead
          tr
            th Location
            th Property Type
            th No. Bedrooms
            th No. Bathrooms
            th Asking Price
        tbody
          tr
            td Mount Street, Liverpool, Merseyside L1
            td End terrace house
            td 4
            td 0
            td 725000
